<div class="p-8 lg:w-1/2 mx-auto">
	<div class="relative overflow-hidden rounded-xl h-48">
		<img
			class="max-w-full h-auto object-contain"
			src="https://images.squarespace-cdn.com/content/v1/59440628b3db2b2f36a66f10/1600046343620-RH1QH6CXJCK92DRDMAUK/42B30C5B-9FDD-4048-BAEA-75A0CB7AE835.jpeg?format=2500w"
			alt="https://www.smoorevisuals.com/landscapes" />
	</div>
	<div class="bg-gray-100 rounded-b-lg py-12 px-4 lg:px-24">
		<%= form_for :session, :html => {:class=>"mt-6"} do |f| %>
		<div class="relative">
			<%= f.label :username, 'Enter your username' %>
			<%= f.text_field :username, autocomplete: 'off', class: "appearance-none border pl-12
			border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600
			transition rounded-md w-full py-3 text-gray-600 leading-tight
			focus:outline-none focus:ring-gray-600 focus:shadow-outline" %>
		</div>
		<span class="mt-4 flex"></span>
		<div class="flex items-center justify-center mt-8">
			<%= f.submit 'Sign in', :class=>"text-white py-2 px-4 uppercase rounded
			bg-indigo-500 hover:bg-indigo-600 shadow hover:shadow-lg font-medium
			transition transform hover:-translate-y-0.5" %>
		</div>
		<% end %>
	</div>
</div>
