<div class="form-group msg-form ">
  <%= form_with(model: [@single_room ,@pesan], remote: true, class: "flex flex-row items-center h-16 rounded-xl bg-white w-full px-4" ) do |f| %>

    <div class="flex-grow ml-4">
      <div class="relative w-full">
       <!-- <input type="text" class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10"/> -->
        <%= f.text_field :content, id: 'chat-text', class: "form-control flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10", autocomplete: 'off' %>
      </div>
    </div>
<!--    <%= render 'komponen/tombolkirim' %> -->
    <%= f.submit "Kirim",data: { disable_with: false }, class: "btn btn-primary" %>
  <% end %>
</div>